  
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admin/orders/new">New Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders/inProgress">In Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders/complete">Completed</a>
    </li>
  </ul>
  
  <div id="adminOrders" style="margin-top: 5em;">



  </div>

  

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/scripts/admin.js"></script>

