<!-- Admin Navbar -->
<%- include('OrderNav.ejs')  %>

<div id="adminOrders">
 
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/scripts/admin.js"></script>

