<div>



  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/admin/orders/new">New Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders/inProgress">In Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  href="/admin/orders/complete">Completed</a>
    </li>
  </ul>
  
  <div id="adminCompletedOrders">



  </div>

  

</div>