<!-- Admin Navbar -->
<%- include('orderNav.ejs')  %>

<div id="adminCompletedOrders">

</div>

  

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/scripts/adminCompleteOrders.js"></script>