<div class="top-image admin-top"></div>
<header class="admin-header">
  <h2>Orders</h2>
</header>
<nav class="admin-nav">
  <ul>
    <li >
      <a class="nav-link active" href="/admin/orders/new">New</a>
    </li>
    <li >
      <a class="nav-link" href="/admin/orders/inProgress">In Progress</a>
    </li>
    <li >
      <a class="nav-link" href="/admin/orders/complete">Completed</a>
    </li>
  </ul>
</nav>