<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/admin/orders/new">New Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders/inProgress">In Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/orders/complete">Completed</a>
    </li>
  </ul>