<nav>
  <ul class="nav-items">
    <li class="logo"><a href="/">Pizza N Go</a></li>
    <ul class="nav-links">
      <li class="nav-login"><a href="/login">Login</a></li>
      <li class="nav-register"><a href="/register">Register</a></li>
    </ul>
  </ul>
</nav>