<nav>
  <ul class="nav-items">
    <li class="logo"><a href="/">P<i class="fas fa-pizza-slice"></i>zza N Go</a></li>
    <ul class="nav-links">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </ul>
</nav>