<header class="top-display">
  <div class="top-image">
  </div>
  <section class="resto-details">
    <h1 class="resto-name">Pizza N Go</h1>
    <p class="address">123 Fake Street, Notrealtown I0P 8T6</p>
  </section>
</header>

<main class="menu-container">

 <section class="pizza category">
   <div class="heading-container">
     <h2>Pizza</h2>
     <i class="expand-btn fas fa-chevron-down"></i>
   </div>
 </section>

 <section class="drinks category">
  <div class="heading-container">
    <h2>Drinks</h2>
    <i class="expand-btn fas fa-chevron-down"></i>
  </div>
 </section>

 <section class="extras category">
  <div class="heading-container">
    <h2>Extras</h2>
    <i class="expand-btn fas fa-chevron-down"></i>
  </div>
  
 </section>

</main>
