<!-- put the below code in the if else condition bleck to check if the cart is empty or not and based
  on that show the content -->


<!-- Show this page if the cart is empty -->
<% if (!session.cart) { %>

<div>
  <h2> This section will visible if the cart is empty</h2>
</div>

<% } else {%>

<div>
  <h2>This section will visible if there are items in the cart</h2>
  <% for(let cartItem of Object.values(session.cart.foodItems)) { %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= cartItem.item.name %></h5>
      <p class="card-text">Price: <%= cartItem.item.price * cartItem.qty %></p>
      <a href="#" class="btn btn-primary"> Qty: <%= cartItem.qty %></a>
    </div>
  </div>
  <% } %>
  <hr>
  <p> Sub Total: <%= session.cart.totalPrice %></p>
  <p>Tax: [14.975%]:</p>
  <p>Total: </p>
  <% if(user) { %>
  <form action="/orders" method="POST" id="submitOrder"><a type="submit" id="placeOrder" class="btn btn-dark">Place Order</a></form>
  <% } else { %>
    <a class="btn btn-primary" href="/login" role="button">Login to place an order</a>
    <% } %> 
</div>

<% } %>


  <!-- <% if(user) { %>
    <form action="/orders" method="POST" id="placeOrder">
    <a onclick="document.getElementById('placeOrder').submit()" class="btn btn-primary" href="#" role="button">Check out</a>
    </form>
  <% } else { %>
    <a class="btn btn-primary" href="/login" role="button">Login to place an order</a>
  <% } %> 
</form> -->



