<h1> This is the user cart page !!! </h1>

<!-- put the below code in the if else condition bleck to check if the cart is empty or not and based
  on that show the content -->

<div>
  <h2> This section will visible if the cart is empty</h2>
</div>

<div>
  <h2>This section will visible if there are items in the cart</h2>
</div>