// CUSTOMER HOME PAGE HEADER
header {
  height: 30%;
  display: flex;
  flex-direction: column;
  
}

.top-image {
  background-color: rgb(52, 49, 49);
  height: 16rem;
}

.resto-details {
  margin-left: 1rem;
}

.resto-name {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.address {
  line-height: 1.2;
  font-size: 14px;
  height: 100px;
  color: rgba(0, 0, 0, 0.44);
  display: inline;
}

header::after {
  content: '';
  margin: 1rem 0 0 1rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.44);
  width: 95%;
}

// MAIN CONTAINER WITH MENU CATEGORIES AND ITEMS
.menu-container {  
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.category {
  margin: 2rem 0 0 1rem;
  cursor: pointer;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgba(0, 0, 0, 0.44) 1px;
  width: 97%;
}

.arrow-btn {
  margin-right: 1rem;
}

.hide {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 2px solid black;
  max-width: 97%;
  margin-top: 1rem;
  padding: 1rem;
}

.item-img {
  width: 10rem;
  border-radius: 8px;
  align-self: center;
}

.cart-btn {
  width: 95%;
  margin: 3rem 0 2rem 1rem;
  height: 50px;
  border-radius: 8px;
}


// To add to arrow-btn
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}