.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

// CUSTOMER HOME PAGE HEADER
.top-display {
  height: 30%;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    margin: 1rem 0 0 1rem;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.19);
    width: 95%;
  }
}

.top-image {
  background-color: #FF6738;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  height: 10rem;
}

.resto-details {
  margin-left: 1rem;
}

.resto-name {
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.address {
  line-height: 1.2;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.44);
  display: inline;
}

// MAIN CONTAINER WITH MENU CATEGORIES AND ITEMS
.menu-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.category {
  margin: 2rem 0 0 1rem;
}

// UserOrder
.main-user-order {
  width: 40%;
  margin-top: 10em;
  border-radius: 8px;
  padding: 2em;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkmarkOrder {
  color: #FF6738;
  size: 9x;
}

.heading-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgba(0, 0, 0, 0.19) 1px;
  width: 97%;
}

.arrow-btn {
  margin-right: 1rem;
}

// To add to arrow-btn
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.hide {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  max-width: 97%;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0px 4px 8px 0px #00000040;
  background-color: #FFF;
}


.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-img {
  width: 10rem;
  border-radius: 8px;
  align-self: center;
}

.btn {
  border-radius: 8px;
  background-color: #00a87bb5;
  border:#00A87C solid 2px;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 3px;
  margin: 0.3rem;
}

.btn:hover {
  background-color: #FFF;
  border:#00A87C solid 2px;
  color: #00A87C;
}

.cart-btn {
  width: 95%;
  margin: 3rem 0 2rem 1rem;
  height: 50px;
  border-radius: 8px;
}


// LOGIN/REGISTER

.form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  height: 100%;
  width: 20.6rem;
  align-self: flex-start;

  & p {
    margin-top: 2rem;
    align-self: center;

    & a {
      color: #2962FF;
    }
  }

  & button {
    height: 2.5rem;
    border-radius: 8px;
    background-color: #000;
    color: #FFF;
    border: none;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form-header {
  & h2 {
    font-weight: 700;
    font-size: 2.2rem;
    margin-bottom: 0;
  }

  & p {
    line-height: 1.2;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.44);
    display: inline;
  }

  margin-bottom: 3rem;
}

.form-inputs {
  height: 13rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;

  & .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  & label {
    margin-bottom: .2rem;
    color: rgba(0, 0, 0, 0.44);
  }

  & input {
    padding: 1rem;
    height: 2.5rem;
    border-radius: 8px;
  }
}


// Register specific
.form-container.register {
  display: flex;
  flex-direction: column;
  & .form-inputs {
    height: 26rem;
    margin-bottom: 2rem;
  }
}


// CART PAGE

// with items
.cart-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  height: 100%;
  width: 28rem;
  align-self: flex-start;
}

.arrow-home {
  margin: 0 0 1rem 1rem;
  font-size: 1.5rem;
  width: fit-content;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  height: 6rem;
  align-items: center;
}

.left-cart {
  display: flex;
  align-items: center;

  & p:nth-of-type(2), img {
    margin-left: 1rem;
  }

  & img {
    width: 5rem;
    max-height: 5rem;
  }
}

.item-price-total, .cart-item-name {
  color: rgba(0, 0, 0, 0.591);
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 3rem 0;
  font-weight: bold;
}

#submitOrder {
  display: flex;
  flex-direction: column;
  width: 95%;

}
.submit-btn {
  border-radius: 8px;
  background-color: #00a87bb5;
  border:#00A87C solid 2px;
  text-align: center;
  color: #FFF;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 3px;
  margin: 0.3rem;
}

// Without items
.empty-cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;

  & h2 {
    font-weight: 600;
    font-size: 2.2rem;
  }

  & i {
    font-size: 10rem;
    margin: 2rem 0;
  }

  & p {
    line-height: 1.2;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.44);
    display: inline;
  }

  & a {
    width: 10rem;
  }
}



// UserOrder
.main-user-order {
  width: 40%;
  margin-top: 10em;
  border-radius: 8px;
  padding: 2em;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkmarkOrder {
  color: #FF6738;
  size: 9x;
}


// ADMIN PAGE

// Admin Navbar
.admin-header h2 {
  margin: 1rem 1rem;
  font-weight: 700;
  font-size: 2.2rem;
}

.admin-nav {
  display: flex;
  width: fit-content;
  max-width: 26rem;
  margin: 2rem 0 0.2rem 1rem;
  
  & ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    & li {
      width: 100%;

      &:nth-of-type(1), &:nth-of-type(3) {
        width: fit-content;
      }

      &:nth-of-type(2) {
        width: 8rem;
      }
      
      &:hover {
        border-bottom: solid rgba(0, 0, 0, 0.19) 2px;
      }

      & a, & a:hover {
        color: #000;
      }
    }
  }
}

// Orders (general)
#adminOrders, #adminInProgressOrders, #adminCompletedOrders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 4rem;
}

.order-container {
  width: 97%;
  flex-direction: column;
}

.order-header {
  display: flex;
  flex-direction: column;

  & h3 {
    font-weight: 600;
    font-size: 1.1rem;
  }

  &::after {
    content: '';
    margin: 0 0 1rem 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.19);
  }
}

.order-details, .customer-details, .customer-details-completed {
  display: flex;
  flex-direction: column;
  & h3 {
    font-weight: 700;
    margin-bottom: 1rem;
  }

  & ul {
    list-style: none;
    padding: 0;

    & li {
      display: flex;

      & p:nth-of-type(2) {
        margin-left: 1rem;
      }
    }
  }
}

.order-details, .customer-details {
  &::after {
    content: '';
    margin: 0 0 1rem 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.19);
  }
}

.customer-details {
  & .customer-label {
    color: rgba(0, 0, 0, 0.44);
    width: 4rem;
  }
}

.sms-container form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  & label {
    color: rgba(0, 0, 0, 0.44);
    margin-bottom: .5rem;
  }

  & input[type=text] {
    border-radius: 8px;
    height: 2.5rem;
    padding: 1rem;
  }

  & a {
    width: 100%;
    margin: 1rem 0 2rem 0;
    height: 2.5rem;
  }
}


// BREAKPOINTS FOR TABLETS AND LARGER
@media only screen and (min-width: 768px) {
  .order-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .left-order {
    width: 80%;
  }

  .sms-container {
    margin: 1rem 0 1rem 1rem;
    align-self: center;
     & form a {
       width: 13rem;
       text-align: center;
     }
  }

  .completed {
    flex-direction: column;
  }
}